*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.root {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

td {
  text-align: center;
  padding: 8px;
}

button {
  /* generic reset */
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;

  /* btn specific reset */
  background-color: transparent;
  background-image: none;

  /* btn styles */
  cursor: pointer;
}

.btn {
  border: none; /* move to reset? */
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;

  /* typography */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn:disabled {
  pointer-events: none;
}

/******************
 * Fill
 ******************/
.btn--fill {
  background: var(--Blue-Light-9, #0090ff);
  color: white;
}

.btn--fill.mock--hover,
.btn--fill:hover {
  background: var(--Blue-Light-10, #0588f0);
}

.btn--fill.mock--focus,
.btn--fill:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: var(--Blue-Light-8, #5eb1ef);
}

.btn--fill:disabled {
  background: var(--Blue-Light-6, #acd8fc);
}

/******************
 * Outline
 ******************/
.btn--outline {
  border: 2px solid var(--Blue-Light-9, #0090ff);
  background: #fff;
  color: var(--Blue-Light-9, #0090ff);
}

.btn--outline.mock--hover,
.btn--outline:hover {
  background: var(--Blue-Light-2, #f4faff);
}

.btn--outline.mock--focus,
.btn--outline:focus-visible {
  outline: 2px solid transparent;
  outline-offset: -2px;
  outline-color: var(--Blue-Light-8, #5eb1ef);
}

.btn--outline:disabled {
  border: 2px solid var(--Blue-Light-6, #acd8fc);
  color: var(--Blue-Light-6, #acd8fc);
}

/******************
 * Ghost
 ******************/
.btn--ghost {
  background: transparent;
  color: var(--Blue-Light-9, #0090ff);
}

.btn--ghost.mock--hover,
.btn--ghost:hover {
  background: var(--Blue-Light-2, #f4faff);
}

.btn--ghost.mock--focus,
.btn--ghost:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: var(--Blue-Light-8, #5eb1ef);
}

.btn--ghost:disabled {
  color: var(--Blue-Light-6, #acd8fc);
}

.mock--hover,
.mock--focus {
  pointer-events: none;
}

/******************
 * Size
 ******************/
.btn--small {
  padding: 4px;
}
