button {
  /* generic reset */
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;

  /* btn specific reset */
  background-color: transparent;
  background-image: none;
  border: none;

  /* btn styles */
  cursor: pointer;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  /* typography */
  /* font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; */
}

.btn:disabled {
  pointer-events: none;
}

/******************
 * Fill
 ******************/
.btn--fill {
  background: var(--accent);
  color: var(--base);
}

.btn--fill.mock--hover,
.btn--fill:hover {
  background: var(--accent-hover);
}

.btn--fill.mock--focus,
.btn--fill:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: var(--accent-focus);
}

.btn--fill:disabled {
  background: var(--accent-disabled);
}

/******************
 * Outline
 ******************/
.btn--outline {
  border: 2px solid var(--accent);
  background: var(--base);
  color: var(--accent);
}

.btn--outline.mock--hover,
.btn--outline:hover {
  background: var(--base-hover);
}

.btn--outline.mock--focus,
.btn--outline:focus-visible {
  outline: 2px solid transparent;
  outline-offset: -2px;
  outline-color: var(--accent-focus);
}

.btn--outline:disabled {
  border: 2px solid var(--accent-disabled);
  color: var(--accent-disabled);
}

/******************
 * Ghost
 ******************/
.btn--ghost {
  background: transparent;
  color: var(--accent);
}

.btn--ghost.mock--hover,
.btn--ghost:hover {
  background: var(--base-hover);
}

.btn--ghost.mock--focus,
.btn--ghost:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
  outline-color: var(--accent-focus);
}

.btn--ghost:disabled {
  color: var(--accent-disabled);
}

.mock--hover,
.mock--focus {
  pointer-events: none;
}

/******************
 * Size
 ******************/
.btn--small {
  padding: 4px;
}

.btn--base {
  padding: 10px;
}
